#bacariqlarim{

    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    color: black;
    h1{
        margin-top: 3rem;
    }
    .bacariqlarim-group{
        display: grid;
        grid-template-columns: repeat(4,10rem);
        justify-content: center;
        column-gap: 3rem;
        row-gap: 2rem;
        margin-bottom: 3rem;
    }
    // margin-bottom: 5rem;
}