nav{
    top: 0;
    position: sticky;
    background-color: black;
    height: 3rem;
    ul{
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        overflow: hidden;
        li{
            display: flex;
            align-items:center ;
            // height: 3rem;
            padding: 3rem;
            
            a{
                text-decoration: none;
                font-family: 'esas';
                color: white;
            }
           
        }
        li:hover{
            background-color: #D7D1D5;
            a{
                color: black;
            }
        }
    }
}