
@font-face {
    font-family: esas;
    src: url(../../public/Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: esas-bold;
    src: url(../../public/Fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: dekor;
    src: url(../../public/Fonts/Splash/Splash-Regular.ttf);
}