main{
    height: 97vh;
    background-image: url(../../../public/images/main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    .group{
        
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 10rem;
        h1{
            font-size: 3rem;
            font-family: 'esas';
        }
        a{
            
        }

    }
}